body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10px;
}

.block {
  background:#fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 25px;
  margin-top: 10px;
}  

.block:first{
  margin-top: 0;
}

.photo {
  display:flex;
  justify-content: center;
}

.photo-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url("./assets/photo2-200.png");
  background-size: 150px;
}

.name {
  text-align: center;
  font-size: 2em;
  margin: 0.3em 0;
}
.title {
  text-align: center;
  margin: 0.3em 0;
}

.skills{
  display:flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 1em;
}
.skill {
  width:50px;
  height:50px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
 
}
.skill--min{
  transform: scale(0.7);
}
.angular{
  background-size: 60px;
  background-image: url("./icons/angular.svg")
}
.js{
  background-image: url("./icons/javascript.svg")
}
.ts{
  background-image: url("./icons/typescript.svg")
}
.node{
  background-image: url("./icons/node.svg");
  width: 70px;
  background-size: 70px 50px;
}
.aws{
  background-image: url("./icons/aws.svg");
  width: 70px;
  background-size: 70px 50px;
}
.vue{
  background-image: url("./icons/vue.svg")
}
.nest{
  background-image: url("./icons/nest.svg")
}
