body{
  margin: 0;
  padding: 0;
}

header{
  height: 200px;
  background: #ccc;
  padding: 20px;
  box-sizing: border-box;
  
  .header-container{
    padding: 0 100px;
    position: relative;
    height: 100%;
  }
}

$photoSize: 200px;
.photo {
  width: $photoSize;
  height: $photoSize;
  border-radius: 50%;
  background: firebrick;
  position: absolute;
  right: calc($photoSize/2);
  bottom: - calc($photoSize/2);
}

main{

}